header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.titleLink{
    text-decoration: none;
    font-size: large;
}

body{
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d8e5f1;
    font-size: 13px;
}

header{
    background-color: #337ab7;
    color: white;
}

main{
    position: relative;
    top: 70px;
}

.mainDiv{
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: #7c7676;
}

.leftFlex{
    flex-basis: 30%;
    background-color: #337ab7;
    border-radius: 20px 0 0 20px;
}
.rightFlex{
    margin-top: 50px;
    flex-basis: 70%;
}

.rightFlexHeading{
    color: #337ab7;
}

.formInput{
    border: 0px solid;
    border-bottom: 1px solid #7c7676;
    padding: 15px;
    background: none;
    margin:12px; 
}

.fileInput{
    padding: 15px;
    margin:8px; 
    background: none;
}

input:focus{
    outline: none;
}

.registerBtn{
    border: 1px solid #337ab7;
    border-radius: 20px;
    width: 250px;
    text-align: center;
    margin: 20px auto;
    padding: 5px;
    font-weight: bold;
    color: #337ab7;
    background-color: white;
}

/* Login Page */

.loginFooterTxt{
    font-size: 15px;
}

.mainDivLogin{
    width: 45%;
    height: 485px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: #7c7676;
}

.leftFlexLogin{
    flex-basis: 30%;
    background-color: #337ab7;
    height: 485px;
    border-radius: 20px 0 0 20px;
}

.rightFlexLogin{
    flex-basis: 70%;
    height: 65vh;
}

/* Home Page */

.headerHeadingName{
    font-size: 18px;
}

.homeMain{
    width: 85%;
}

.homeTopContainer{
    width: 100%;
}

.homeMainContainer{
    width: 100%;
}

.homeLeftFlex{
    flex-basis: 15%;
}

.homeRightFlex{
    flex-basis: 85%;
}

.homeTopImgCont{
    width: 100%;
}

.fullNameTxt{
    font-weight: bold;
    color: #337ab7;
    text-wrap: nowrap;
}
.createBtn{
    border: 1px solid #337ab7;
    border-radius: 20px;
    margin: 12px auto;
    padding: 3px 10px;
    font-weight: bold;
    background-color: #337ab7;
    color: white;
}

.tableHeading{
    font-weight: bold;
    color: #337ab7;
    font-size: 15px;
}

table{
    font-size: 14px;
}

tr{
    border-bottom: 1px solid #e2e2e2;
}

td > button{
    border: 1px solid #337ab7;
    border-radius: 20px;
    padding: 5px 30px;
    font-weight: bold;
    color: #337ab7;
    background-color: white;
}

.modal-body{
    height: 100%;
    background-color: #DAEEF7;
}

.modalLeftFlex{
    flex-basis: 72%;
}
.modalRightFlex{
    flex-basis: 28%;
}

.modalTitle{
    color: #337ab7;
    background-color: #DAEEF7;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: unset;
        margin: 1.75rem auto;
    }
}

.modal-dialog{
    width: 50%;
}

.modalLeftFlexCont{
    width: 85%;
    margin: 50px 30px 30px 38px;
}

.modalTiltle2{
    color: #337ab7;    
    font-size: 17px;
    font-weight: bold;
    margin: 20px 0;
    border-bottom: 2px solid #35477D;
    padding: 4px;
}

.modalLabel{ 
    color: #337ab7;    
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 8px 0;
    padding: 8px; 
    border-bottom: 1px solid #e2e2e2;
    width: 30%;
    text-align: left;
}

.modalLabelFor2{ 
    color: #337ab7;    
    font-size: 15px;
    font-weight: bold;
    margin: 0 25px 8px 0;
    border-bottom: 1px solid #e2e2e2;
    width: 50%;
}

.modalInputFor2{
    margin: 0 0 8px 50px;
    padding: 4px; 
    border: 0px solid;
    border-bottom: 1px solid #c0c0c0;
    width: 50%;
    background: none;
}

.modalLabelSelect{ 
    color: #337ab7;    
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 8px 0;
    padding: 8px; 
    border-bottom: 1px solid #e2e2e2;
}

.modalInputSelect{
    margin: 0 20px 8px 0;
    padding: 4px; 
    border: 0px solid;
    border-bottom: 1px solid #c0c0c0;
    background: none;

}

.modalInput{
    margin: 0 20px 8px 42px;
    padding: 4px; 
    border: 0px solid;
    border-bottom: 1px solid #c0c0c0;
    width: 50%;
    background: none;
}

.modalInput:focus {
    outline: none;
    border: none;
}

.modalLabelFor1{ 
    color: #337ab7;    
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 8px 0;
    border-bottom: 1px solid #e2e2e2;
    width: 60%;
}

.modalInputFor1{
    margin: 0 0 8px 0;
    padding: 4px; 
    border: 0px solid;
    border-bottom: 1px solid #c0c0c0;
    width: 60%;
    background: none;
}

.modalLabelForEven2{ 
    color: #337ab7;    
    font-size: 15px;
    font-weight: bold;
    margin: 0 25px 8px 0;
    padding: 0 0 8px 0; 
    border-bottom: 1px solid #e2e2e2;
    width: 50%;
}

.modalInputForEven2{
    margin: 0 25px 4px 0;
    padding: 0 0 4px 0; 
    border: 0px solid;
    border-bottom: 1px solid #c0c0c0;
    width: 50%;
    background: none;
}

.viewLabel{ 
    color: #337ab7;    
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0 0;
    padding: 5px; 
    width: 30%;
    text-align: left;
}

.viewData, .viewColon{
    margin: 5px 0 0;
    padding: 5px; 
}

.pdfBtn{
    background-color: white;
    border: 0px solid;
}
